mixin sWay(data)
	// start sWay
	+b.SECTION.sWay.section#sWay&attributes(attributes)
		.container
			+b.section-title
				h2 Форматы участия в фестивале
			+e.row.row
				+wayItem(1,'Участник', 'color: #fff; text-align: right')(style="background-color:#6B1680")
					+e.txt--white
						+e.long
							| Участники фестиваля&nbsp;&mdash; это:
							br
							|‒ Резиденты и&nbsp;участники проектов &laquo;Тавриды&raquo;, участники Национального открытого чемпионата в&nbsp;сфере творческих компетенций ArtMasters;
							br
							|‒ Блогеры, инфлюенсеры молодежных пабликов и&nbsp;аккаунтов в&nbsp;социальных сетях, представители студенческих СМИ;
							br
							|‒ Полуфиналисты и&nbsp;финалисты проектов платформы &laquo;Россия&nbsp;&mdash; страна возможностей&raquo;;
							br
							|‒ Волонтеры движения МыВместе, представители НКО;
							br
							|‒ Семьи с&nbsp;детьми ‒ участниками проекта &laquo;Большая перемена&raquo; в&nbsp;возрасте от&nbsp;14&nbsp;до&nbsp;17&nbsp;лет.
						//- +e.sm-title Регистрация
						+e.sm-content
							span
								| Регистрация открыта до
								|
							strong 1 августа
						+e.btn(href='04-participants.html') Подробнее
						//- +e.sm-title Результаты отбора
						//- +e.sm-content
						//- 	span
						//- 		| после
						//- 		|
						//- 	strong 23 августа 2020 года
				+wayItem(2,'Зрители', 'color: #0A1124;')(style="background-color:#ffc107")
					+e.bold Любой желающий в&nbsp;возрасте от&nbsp;18&nbsp;лет включительно, прошедший регистрацию и&nbsp;получивший подтверждение в&nbsp;личном кабинете
					+e.sm-content
						span
							| Регистрация открыта до
							|
						strong 1 сентября
					+e.btn(href='#') Подробнее

				+wayItem2(3,'Волонтеры', 'color: #fff;')(style="background-color:#2247bf")
					+e.txt--white
						+e.long 
						| Волонтеры ‒ граждане&nbsp;РФ, в&nbsp;возрасте от&nbsp;18&nbsp;до&nbsp;35, желающие стать соорганизаторами фестиваля фестивалей &laquo;Таврида.АРТ&raquo;
					+e.btn(href='#') Подробнее
			//- .section-title: h3 Направления участия

			//- +e.pills
			//- 	+wayPill(1)
			//- 		| Резиденты «Тавриды» (те, кто был на мероприятиях арт-кластера не менее 2 раз), участники проектов арт-кластера «Таврида», участники Национального открытого чемпионата в сфере творческих компетенций ArtMasters
			//- 	+wayPill(2)
			//- 		| Блогеры, инфлюенсеры молодежных пабликов и аккаунтов в социальных сетях, представители студенческих СМИ
			//- 	+wayPill(3)
			//- 		| Полуфиналисты и финалисты проектов платформы «Россия – страна возможностей»: «Лидеры России», «Мастера гостеприимства», «Культурный код», «ТопБЛОГ», «Цифровой прорыв» и т.д.
			//- 	+wayPill(4)
			//- 		| Волонтеры движения МыВместе, представители НКО, актив
			//- 		br.d-none.d-lg-block
			//- 		| общественных организаций
			//- 	+wayPill(5,true)
			//- 		| Семьи с&nbsp;детьми ‒ участниками проекта &laquo;Большая перемена&raquo; в&nbsp;возрасте от&nbsp;14&nbsp;до&nbsp;17&nbsp;лет.

	// end sWay

mixin wayPill(imgNum, hideAge)
	+e.pill
		+e.p-row.row
			.col-auto
				+e.p-img
					img(loading="lazy" src=`img/svg/way-svg-${imgNum}.svg` alt="")
			+e.p-coll--txt.col
				+e.p-bold
					block
				if !hideAge
					+e.age Возраст от 18 до 35 лет включительно
mixin wayItem(imgNum,txt, txtStyle)
	.col-12.col-lg-6
		+e.item&attributes(attributes)
			img(loading="lazy" src=`img/@2x/sWay-${imgNum}.png` alt="")
			+e.big-txt(style=txtStyle)=txt
			block

mixin wayItem2(imgNum,txt, txtStyle)
	.col-12
		+e.item--wide&attributes(attributes)
			img(loading="lazy" src=`img/@2x/sWay-${imgNum}.png` alt="")
			+e.big-txt(style=txtStyle)=txt
			block