mixin sActFormBase(h2="Аудитория форума", ...datas)
	// start sActForm
	+b.SECTION.sActForm.section#sActForm&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0.order-lg-2
					h2!= h2
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.act-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.act-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.act-slider-js
					.swiper-wrapper
						each data in datas
							.swiper-slide
								+e.item
									+e.bg(style=`--color-bg: ${data.slideColor}`)
										+pic(`${data.imgNum}`)
									if data.text
										+e.txt!= data.text
									+e.name!=data.name
								//- .swiper-slide
	// end sActForm
mixin sActFormBaseProg(h2="Программа антишколы", ...datas)
	// start sActForm
	+b.SECTION.sActForm.section#sActForm&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0
					h2!= h2
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.act-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.act-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider 
				.swiper-container.act-slider-js
					.swiper-wrapper
						- for (var x = 0; x < 3; x++)
							+e.slide.swiper-slide
								+e.item-block
									+e.head
										.row 
											.col
												+e.day  День 1
											.col-auto
												+e.date 18.08.2021
									ul 
										li Получить опыт организации крупных мероприятий и реальный кейс для ивент-индустрии, найти команду единомышленников и обменяться идеями с профессионалами событийного маркетинга, 
										li прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений – всё это возможно с арт-кластером #Таврида.
										li прокачать свои soft skills в области менеджмента событий и вывести на новый уровень навыки публичных выступлений
	// end sActForm
mixin sActForm(h2="Аудитория форума")
	// start sActForm
	+b.SECTION.sActForm.section#sActForm&attributes(attributes)
		.container
			+b.section-title.row.align-items-center
				.col-12.col-lg.mb-3.mb-lg-0.order-lg-2
					h2!= h2
				.col-12.col-lg-auto
					+b.sl-contr
						+e.prev.act-prev-js
							img(loading="lazy" src="img/svg/arrow-left.svg" alt="")
						+e.next.act-next-js
							img(loading="lazy" src="img/svg/arrow-right.svg" alt="")
			+e.slider
				.swiper-container.act-slider-js
					.swiper-wrapper
						+sActSlide(`full-1`,  `Архитекторы `)
						+sActSlide(`full-2`, `Промышленные  дизайнеры`)
						+sActSlide(`full-3`, `Интерьерные  дизайнеры`)
						+sActSlide(`full-4`, `Инженеры`)
						+sActSlide(`full-5`, `Градостроители`)
						+sActSlide(`full-6`, `Урбанисты`)
						+sActSlide(`full-7`, `Художники  паблик арта`)
						+sActSlide(`full-8`, `Скульпторы`)
						+sActSlide(`full-9`, `Начинающие  и&nbsp;практикующие  художники`)
						+sActSlide(`full-10`, `Проектировщики`)
						+sActSlide(`full-11`, `Креаторы  и&nbsp;визионеры`)
						+sActSlide(`full-12`, `Резиденты  арт-кластера`)
	// end sActForm

mixin sActSlide(imgNum, name, slideColor='#00BAC3')
	.swiper-slide
		+e.item
			+e.bg(style=`--color-bg: ${slideColor}`)
				+pic(`act-slide-${imgNum}.jpg`)
			+e.txt
				if block
					block
				else
					| Представители театра
					|
					br
					| и кино с разлиными
					|
					br
					| регалиями
					|
					br
					| и послужным списком
			+e.name!=name
		//-act-slide-