mixin sParticipants(data)
	// start sParticipants
	+b.SECTION.sParticipants.section#sParticipants&attributes(attributes)
		.container
			+e.back-link
				img(loading="lazy" src="img/svg/black-arrow-left.svg" alt="")
			+b.section-title
				h2 Участники
				p Участники фестиваля&nbsp;&mdash; это молодые деятели культуры и&nbsp;искусства, представители волонтерских движений, общественных организаций, проектов платформы &laquo;Россия&nbsp;&mdash; страна возможностей&raquo;, медиаинфлюенсеры в&nbsp;возрасте от&nbsp;18&nbsp;до&nbsp;35&nbsp;лет, а&nbsp;также участники проекта &laquo;Большая перемена&raquo; с&nbsp;детьми в&nbsp;возрасте от&nbsp;14&nbsp;до&nbsp;17&nbsp;лет, прошедшие конкурсный отбор.
				//- p Зрителем фестиваля может стать любой желающий в&nbsp;возрасте от&nbsp;18&nbsp;лет включительно, прошедший регистрацию на&nbsp;сайте и&nbsp;получивший подтверждение в&nbsp;личном кабинете.
			+b.section-title.pb-0
				h2 Направления участия
			+e.gray-box
				+e.dd-items.participants-items-js
					+participantDDItem('Резиденты «Тавриды» и участники чемпионата ArtMasters', 'active')
						p Резиденты «Тавриды» (те, кто был на мероприятиях арт-кластера не менее 2 раз), участники проектов арт-кластера «Таврида», участники Национального открытого чемпионата в сфере творческих компетенций ArtMasters. Возраст от 18 до 35 лет включительно
						p
							| Вход на территорию Фестиваля бесплатный
							br
							| Участие в программе Фестиваля бесплатное
							br
							| Мерч «Тавриды» бесплатный
							br
							| Проживание в двухместных палатках на территории Фестиваля
							br
							| Питание: за свой счет на фудкортах Фестиваля
						p
							strong.text-warning
								| Бесплатные
								|
							| автобусные рейсы организаторов до площадки фестиваля и обратно:
						ul
							li Аэропорт г. Симферополя
							li Ж/д вокзал г. Симферополя
							li Автовокзал г. Судака
							li Ж/д вокзал с. Владиславовки
						h5 Портфолио
						p Прикрепи фото/видео/файлы своих работ, в зависимости от направления. Пример: для хореографов видео с танцем, для художника фото/сканы работ
						h5 Видеовизитка
						p Запиши ролик длительностью до 1 минуты, где ответь на вопросы:
						ul
							li Что для тебя арт-кластер «Таврида»
							li Какой опыт ты ожидаешь получить на Фестивале?
							li Каким опытом можешь поделиться с другими участниками Фестиваля?
						p
							strong.text-warning ПРАВИЛЬНО ОФОРМИ ВИДЕОВИЗИТКУ!
							br
							| Видеовизитку загружай только на Youtube, открой доступ по ссылке или для всех (как тебе больше нравится)
						p
							strong.text-warning
								| ПОРТФОЛИО
								|
							| заливай на файлообменник по одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с портфолио: фамилия_ инициалы участника (иванов_аб).
						+e.txt-sm
							| при загрузке файла на Яндекс.диск необходимо включить ссылку.
							| обязательно установи настройку доступа по ссылке
					+participantDDItem('Медиа')
						p Блогеры, инфлюенсеры молодежных пабликов и аккаунтов в социальных сетях, представители студенческих СМИ. Возраст от 18 до 35 лет включительно
						p
							| Вход на территорию Фестиваля бесплатный
							br
							| Участие в программе Фестиваля бесплатное
							br
							| Мерч «Тавриды» бесплатный
							br
							| Проживание в двухместных палатках на территории Фестиваля
							br
							| Питание: за свой счет на фудкортах Фестиваля
						p
							strong.text-warning
								| Бесплатные
								|
							| автобусные рейсы организаторов до площадки фестиваля и обратно:
						ul
							li Аэропорт г. Симферополя
							li Ж/д вокзал г. Симферополя
							li Автовокзал г. Судака
							li Ж/д вокзал с. Владиславовки
						h5 Портфолио
						p Прикрепи до 5 примеров твоих лучших работ/создаваемого контента с указанием ссылок на публикации
						h5 Видеовизитка
						p Запиши ролик длительностью до 1 минуты, где ответь на вопросы:
						ul
							li Что для тебя арт-кластер «Таврида»
							li Какой опыт ты ожидаешь получить на Фестивале?
							li Каким опытом можешь поделиться с другими участниками Фестиваля?
						p
							strong.text-warning
								| Видеовизитку
								|
							|загружай только на Youtube, открой доступ по ссылке или для всех (как тебе больше нравится)
						p
							strong.text-warning
								| ПОРТФОЛИО
								|
							| заливай на файлообменник по одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с портфолио: фамилия_ инициалы участника (иванов_аб).
						p при загрузке файла на Яндекс.диск необходимо включить ссылку.
						p обязательно установи настройку доступа по ссылке.
					+participantDDItem('Полуфиналисты и финалисты проектов платформы «Россия ‒ страна возможностей»', undefined, true, '#modal-serv-country', '#modal-art-country')
						p Полуфиналисты и финалисты проектов платформы «Россия – страна возможностей». Возраст от 18 до 35 лет включительно
						p Регистрация откроется в ближайшее время
					+participantDDItem('#МыВместе')
						p Волонтеры движения МыВместе, представители НКО, актив общественных организаций. Возраст от 18 до 35 лет включительно
						p
							| Вход на территорию Фестиваля бесплатный
							br
							| Участие в программе Фестиваля бесплатное
							br
							| Мерч «Тавриды» бесплатный
							br
							| Проживание в двухместных палатках на территории Фестиваля
							br
							| Питание: за свой счет на фудкортах Фестиваля
						p
							strong.text-warning
								| Бесплатные
								|
							| автобусные рейсы организаторов до площадки фестиваля и обратно:
						ul
							li Аэропорт г. Симферополя
							li Ж/д вокзал г. Симферополя
							li Автовокзал г. Судака
							li Ж/д вокзал с. Владиславовки
						h5 Портфолио
						p Расскажи о своём опыте участия во Всероссийской акции взаимопомощи #МыВместе в формате небольшого эссе.
						p Не забудь прикрепить самые запоминающиеся для тебя фотографии и видео, связанные с твоей деятельностью.
						h5 Видеовизитка
						p Запиши ролик длительностью до 1 минуты, где ответь на вопросы:
						ul
							li Что для тебя арт-кластер «Таврида»
							li Какой опыт ты ожидаешь получить на Фестивале?
							li Каким опытом можешь поделиться с другими участниками Фестиваля?
						strong.text-warning ПРАВИЛЬНО ОФОРМИ ВИДЕОВИЗИТКУ!
						p Видеовизитку загружай только на Youtube, открой доступ по ссылке или для всех (как тебе больше нравится)
						p
							strong.text-warning
								| ПОРТФОЛИО
								|
							| заливай на файлообменник по одной ссылке. Рекомендуем использовать Яндекс.диск* или Google диск**. Назови папку/файл с портфолио: фамилия_ инициалы участника (иванов_аб).
						p при загрузке файла на Яндекс.диск необходимо включить ссылку.
						p обязательно установи настройку доступа по ссылке
					+participantDDItem('Семьи с детьми – участниками проекта «Большая перемена»', undefined, true, '#modal-serv-child', '#modal-art-child')
						p Семьи с детьми – участниками проекта «Большая перемена». Дети в возрасте от 14 до 17 лет включительно
						p Регистрация откроется в ближайшее время

	// end sParticipants

mixin sParticipants2(data)
	// start sParticipants
	+b.SECTION.sParticipants.section#sParticipants&attributes(attributes)
		.container
			+e.back-link
				img(loading="lazy" src="img/svg/black-arrow-left.svg" alt="")
			+b.section-title
				h2 Зрители фестиваля
				p Зрителем фестиваля может стать любой желающий в&nbsp;возрасте от&nbsp;18&nbsp;лет включительно, прошедший регистрацию на&nbsp;сайте и&nbsp;получивший подтверждение в&nbsp;личном кабинете.
				
mixin participantDDItem(headerTxt, activeClass='', hasBtns=true, a1, a2)
	+e.dd-item(class=activeClass)
		+e.header.dd-head-js
			+e.txt=headerTxt
			+e.plus
		+e.content.dd-content-js(class=activeClass)
			block
			+e.mail-txt
				span
					| При возникновении вопросов обращаться на почту:
					|
				a(href='#') tavrida@crki.art
			if hasBtns
				+e.c-btns-row.row
					.col-sm-auto
						+e.c-btn.link-modal(href=a1) Сервисный пакет
					.col-sm-auto
						+e.c-btn.link-modal(href=a2) Творческое задание